---
import { type CollectionEntry, getCollection, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";
import SectionBreak from "@/components/SectionBreak.astro";

export async function getStaticPaths() {
    const tools = await getCollection("tools", ({ data }) => {
        return import.meta.env.PROD ? data.draft !== true : true;
    });
    return tools.map((entry) => ({
        params: { slug: entry.id },
        props: entry,
    }));
}

type Props = CollectionEntry<"tools">;
const entry = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
    <Header>
        <h1 class="font-medium text-xl sm:text-2xl tracking-tight">
            {entry.data.title}
        </h1>
        <p class="mx-auto mt-2 max-w-md text-neutral-400 text-balance">
            {entry.data.description}
        </p>
    </Header>
    <SectionBreak />
    <div class="px-4 sm:px-8 py-8 prose">
        <Content />
    </div>
</BaseLayout>

