---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SectionLabel from "@/components/SectionLabel.astro";
import Button from "@/components/Button.astro";
import { Icon } from "astro-icon/components";
import SectionBreak from "@/components/SectionBreak.astro";
import Header from "@/components/Header.astro";
---

<BaseLayout
  title="Resume"
  description="UI engineer who enjoys working at the intersection of design and engineering teams.">
  <Header>
    <SectionLabel as="p">Intro</SectionLabel>
    <h1 class="font-mono text-neutral-400 text-sm">Resume</h1>
    <p class="mt-2 font-medium text-xl sm:text-2xl text-balance tracking-tight">
      User Interface Engineer who enjoys working at the intersection of design
      and engineering teams.
    </p>
    <Button as="a" href="#" class="mt-6"
      >Connect on LinkedIn <Icon name="linkedin" /></Button
    >
  </Header>

  <SectionBreak />

  <section id="experience" class="relative">
    <SectionLabel as="h2">Experience</SectionLabel>
    <div class="px-4 sm:px-8 py-8">
      <p>Add your experience here.</p>
    </div>
  </section>

  <SectionBreak />

  <section id="recommendations" class="relative">
    <SectionLabel as="h2">Recommendations</SectionLabel>
    <div class="px-4 sm:px-8 py-8">
      <p>Add your recommendations here.</p>
    </div>
  </section>
</BaseLayout>
